  <div class=recipe-item>
  <%= link_to recipe do %>
  <div class="container-r" id="<%= dom_id recipe %>">
      <div class="recipe-sec">    
      <div>
      <h4>
        <strong>Name:</strong>
        <%= recipe.name %>
      </h4>
    </div>
    <div>
      <p>
        <strong>Description:</strong>
        <%= recipe.description %>
      </p>
      </div>

      <div>
      <p>
        <strong>Public:</strong>
        <%= recipe.public %>
      </p>
      </div>

  <% end %>
  <% if can? :destroy, recipe %>
  <%= button_to "Remove", recipe, method: :delete, data: { confirm: "Are you sure?" }, class: "remov1" %>
  <% end %>
</div>
      </div>
</div>