<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
    <p>
      <%= link_to "Show this food", food %>
    </p>
  <% end %>
</div>

<%= link_to "New food", new_food_path %>

 <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Measurement</th>
        <th>Unit Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <% @foods.each do |food| %>
      <%= render food %>
    <% end %>
  </table>
